<!DOCTYPE html>
<html lang="en">
	<head>
		<title>AirBnB clone</title>

		<link rel="shortcut icon" href="images/icon.ico" >

		<link rel="stylesheet" href="styles/4-common.css"/>
		<link rel="stylesheet" href="styles/3-header.css"/>
		<link rel="stylesheet" href="styles/3-footer.css"/>
		<link rel="stylesheet" href="styles/6-filters.css"/>
	</head>
    <body>
		<header>
			<div id="header_logo"></div>
		</header>
		<div class="container">
			<section class="filters">
				<button>Search</button>
				<div class="locations">
					<h3>States</h3>
					<h4>&nbsp;</h4>
					<DIV class="popover">
                        <UL>
                        {% for state in states.values()|sort(attribute="name") %}
                          <LI><STRONG>{{ state.name }}</STRONG>
                            <UL>
                                {% for city in state.cities|sort(attribute="name") %}
                                <LI>{{ city.name }}</LI>
                            {% endfor %}
                            </UL>
                          </LI>
                        {% endfor %}
                        </UL>
                      </DIV>

				</div>
				<div class="amenities">
					<h3>Amenities</h3>
					<h4>&nbsp;</h4>
					<div class="popover">
						<ul>
                            {% for amenity in amenities.value() | sort(attribute="name") %}
                            <li>{{ amenitie.name }}</li>
                            {% endfor %}

                        </ul>

                    </div>
				</div>
                <BUTTON>Search</BUTTON>
			</section>
		</div>
		<footer>
			<p>Holberton School</p>
		</footer>
	</body>
</html>
