<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>States</H1>
        <UL>
        {% for state in states.values()|sort(attribute="name") %}
            <LI>{{ state.id }}: <B>{{ state.name }}</B>
                <UL>
                {% for city in state.cities|sort(attribute="name") %}
                    <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
                {% endfor %}
                </UL>
            </LI>
        {% endfor %}
        </UL>
</body>
</html>